asgiref==3.7.2
certifi @ file:///private/tmp/python-certifi-20240202-4859-woa1q8/certifi-2024.2.2
cffi @ file:///private/tmp/cffi-20231015-5725-9apj93/cffi-1.16.0
cryptography==42.0.5
Django==5.0.1
numpy @ file:///private/tmp/numpy-20240206-5707-t7tyyl/numpy-1.26.4
packaging==24.0
pillow==10.3.0
psutil @ file:///private/tmp/python-psutil-20240120-4841-icpvyr/psutil-5.9.8
pycparser==2.22
Pygments @ file:///private/tmp/pygments-20231121-5322-nddh6n/pygments-2.17.2
pyparsing @ file:///private/tmp/python-pyparsing-20240306-4843-vef7zw/pyparsing-3.1.2
PyYAML @ file:///private/tmp/pyyaml-20231019-5772-lz4nec/PyYAML-6.0.1
six==1.16.0
sqlparse==0.4.4
